<!DOCTYPE html>
<html>
<head>
	<title>User Manual</title>
</head>
<body background="Logo1.PNG" bgcolor="indigo">
<h2><font face="verdana" color="lime"><center>Lucario</center></font> </h2>
<h4><b><font face = "verdana" color="greenyellow">Introduction to Lucario</font></b></h4>



<br>
<font face = "verdana" color="greenyellow"><b>START SYSTEM</b>
:- call Lucario
</font>

<br>
<font face = "verdana" color="greenyellow"><b>Music</b>
:- Play Music (name)
</font>

<br>
<font face = "verdana" color="greenyellow"><b>Speach Recognition</b>
:- Click the rotating sphere
</font>

<br>
<font face = "verdana" color="greenyellow"><b>Describing Things</b>
:- Describe (name)
</font>

<br>
<font face = "verdana" color="greenyellow"><b>Notes</b>
:- Write a note (Your Notes Here)
</font>


<br>
<font face = "verdana" color="greenyellow"><b>Video</b>
:- Play video (name)
</font>

<br>
<font face = "verdana" color="greenyellow"><b>open Software</b>
:- open (chrome) or open (music/video) player 
</font>

<br>
<font face = "verdana" color="greenyellow"><b>Search</b>
:- search (name)
</font>



<br>
<font face = "verdana" color="greenyellow"><b>Appreciate</b>
:- Good Work Lucario
</font>

<br><br>
<font face = "verdana" color="greenyellow"><b>Features</b>
	<br>
	<ul>
		<li>Lucario is an intelligent eco system built in a way to be able to work in both online and offline modes.</li>
		<li>Lucario knows how to serve its master in an appropriate manner, be it a song or a movie. Its just a command away??.</li>
		<li>No need yo fidget between applications. It serves as a one stop for all. In a hurry to note down, need not to worry, Lucario will do it for you.</li>
		<li>Lucario remembers the facts and commands you give it.
It keeps the tasks in queue and fulfills the commands in a line.</li>
	</ul>
</font>

<hr>

<br>
<font face = "verdana" color="greenyellow"><b>Support Me</b>
<br>
Please report bug at rusia.kanha@gmail.com <br>
You can appreciate me through paytm at number +91-9827168348
</font>


</body>
</html>